/* SUPER SMALL SCREEN */
@media screen and (max-width: 260px) {
    .center-fit {display: none;}
    .height img {display:none}
}
/* SMALL SCREEN */
@media screen and (min-width: 261px) and (max-width: 369px)
{
    .center-fit {display: none;} 

}

@media screen and (min-width: 370px) and (max-width: 479px)
{
    .center-fit {display: none;} 
}
/* MEDIUM SCREEN */
@media screen and (min-width: 480px) and (max-width: 767px)
{
    .center-fit {display: none;} 
}
/* LARGE SCREEN */
@media screen and (min-width: 768px)
{
    .welcome-small {display: none;}
}