.loginpage
{
    padding-top: 30px;
    text-align: center;
}

.loginpage label
{
    font-weight: bold;
    display:block;
}

.loginpage input[type="submit"]
{
    text-align:center;
    background:#1B2226;
    color: white;
    padding: 5px 30px;
    border:none;
    border-radius:40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.loginpage input[type="text"],
.loginpage input[type="password"]
{
    padding: 1px;
    font-size:20px;
    color: white;
    border: none;
    background:#0389B0;
    border-radius: 3px;
}

.loginpage a
{
    text-decoration: none;
    color: black;
}

.loginpage a:hover
{color: #DD6600;}

/* small screen */
@media screen and (max-width: 479px) 
{ 
    .loginpage input[type="text"], 
    .loginpage input[type="password"]
    {width:80%;}
}
/* medium screen */
@media screen and (min-width: 480px) and (max-width: 767px)
{
    .loginpage input[type="text"], 
    .loginpage input[type="password"]
    {width:60%;}
}
/* large screen */
@media screen and (min-width: 768px)
{
    .loginpage input[type="text"], 
    .loginpage input[type="password"]
    {width:40%;}
}