#signup-page {padding-top: 30px;}

#signup-consent
{
    text-align:center;
    font-size:18px;
    margin-left:15%; margin-right:15%;
    border-radius:20px;
    padding: 1.5em;
    background-color: #1B2226;
    color: white;
}

#signup-register
{
    text-align:center;
    padding-top: 30px;
    line-height:1.5em;
    padding-bottom: 20px;
}

#signup-register label
{
    font-weight: bold;
    display:block;
}

#signup-register input[type="text"], #signup-register input[type="email"], #signup-register input[type="password"]
{
    padding: 1px;
    width:40%;
    font-size:20px;
    color: white;
    border: none;
    background:#0389B0;
    border-radius: 3px;
}

#signup-register input[type="submit"]
{
    margin-top: 1%;
    text-align:center;
    background:#1B2226;
    color: white;
    padding: 5px 20px;
    border:none;
    border-radius:50px;
}

@media screen and (max-width: 479px)
{
    .topnav a {float: none; width: 100%;}
    .center-fit {display: none;}
    .height {height: 50px;}
    .height img {height: 115px;}

    #signup-register input[type="text"], 
    #signup-register input[type="email"], 
    #signup-register input[type="password"]
    {width:80%;}
}

@media screen and (min-width: 480px) and (max-width: 767px)
{
    .welcome-small {display: none;}
    .height
    {height: 86px; margin: 0px;}
    #logo {margin-top:-10px;}
    .height img {height: 140px;}

    #signup-register input[type="text"], 
    #signup-register input[type="email"], 
    #signup-register input[type="password"]
    {width:60%;}
}

@media screen and (min-width: 768px)
{
    .welcome-small {display: none;}
    .height
    {height: 86px; margin: 0px;}
    .height img {margin-top:-20px;}

    #signup-register input[type="text"], 
    #signup-register input[type="email"], 
    #signup-register input[type="password"]
    {width:40%;}
}