/* there's a specific keyterm for input type so i changed it */
* {
    box-sizing: border-box;
}

.main
{
    width: 60%;
    margin: 0 auto 0 auto;
}

/* Scrollbar styles */
::-webkit-scrollbar 
{
    width: 20px;
}

::-webkit-scrollbar-track 
{
    border: none;
    background-color: #fea12f;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb 
{
    background: #003f5a;
    border-radius: 2px;   
}

form.search input[type=search]
{
    float: left;
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 100%;
    background: #fea02f;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

form.search button
{
    float: left;
    width: 20%;
    padding: 10px;
    background: #dd6700;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    outline: none;
}

.box button
{
    width: 20%;
    padding: 2px;
    background: #dd6700;
    color: black;
    font-size: 90%;
    font-weight: bold;
    border: none;
    border-left: none;
    cursor: pointer;
    border-radius: 5px;
}

button .fas
{
    color: #003f5a;
}

/* Box */

.box
{
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1B2226;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.box1
{
    display: block;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px #fea12f inset;
    min-height: 90vh;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    margin-top: 20px;
    margin: 0 auto 0 auto;
    width: 100%;
}

.tags
{
    display: flex;
    justify-content: center;
}

.tags label
{
    font-family: TW Cen MT; 
    font-size: 22px; 
    font-weight: bold; 
    color: #dd6700;
}

.title::placeholder
{
    font-weight: bold;
    color: black;
}

.tags::placeholder
{
    font-weight: bold;
    color: lightgray;
}

.title:focus, .tags:focus
{
    outline: none;
}

#content
{
    width: 100%;
    background: white;
    color: black;
    padding: 2px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    resize: none;
    height: 80px;
    padding-left: 2%;
}

.title input[type="text"] 
{
    padding: 2px; 
    font-size: 18px; 
    font-weight: bold; 
    color: black;
    border: none;
    background: #fea02f; 
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 2%;
}

.tags input[type="text"]
{   padding-left: 1%;
    font-size: 15px; 
    font-weight: bold; 
    color: black; 
    width: 70%;
    background: white; 
    border-radius: 5px;
    border: none;
}

#tag-name, #tags, #button
{
    margin: 5px;
}

.flex:after {
content: "";
display: table;
clear: both;
}

.sidebar-left h2
{
    margin-top: 50px;
    text-align: center;
    font-family: TW Cen MT; 
    font-weight: bold; 
    color: white
}

.search-bar
{
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 4rem;            /* Footer height */
    background-color: #1B2226;
    color: white;
    text-align: center;
    vertical-align: middle;
    }

@media screen and (max-width: 600px) {
    .sidebar-left {width: 100%; min-height: auto;}
    .sidebar-left h2 {margin-top: 1%; font-size: 18px;}
    .title::placeholder{font-size: 18px;}
    .title input[type="text"] {font-size: 18px;}
    .main {width: 100%;}
    .tags input[type="text"] {font-size: 14px;}
    #content {height: 100px;}
    .box {width: 100%; border-radius: 10px;}
    form.search input[type=search], form.search button
    {padding: 2px;}
}

@media screen and (min-width: 601px) and (max-width: 999px) {
    .main {width: 80%;}
}
